.section8 {
    background: black;
    text-align: center;
    height: 400vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 6;
}

.section8 > div {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.section8 h2{
    color: #ffffff;
    font-size: 28px;
    text-shadow: 0px 2px 0px #81eefa;
    text-align: center;
}

.section8 img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.html-container,
.js-container {
    flex-basis: calc(50% - 10px);
}

.description-table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    margin-top: 20px;
}

.description-table th,
.description-table td {
    border: 1px solid #ffffff;
    padding: 10px;
    vertical-align: top;
    text-align: center;
}

.description-table th {
    background-color: #ffffff;
    color: #bb00ff;
    width: 20%;
    font-size: 20px; 

}
.description-table td {
    font-size: 16px; 
}

.description-table td img {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
}

.description-table td p {
    margin: 0;
}
